@model Diploma.Models.RegisterModel

@{
    Layout = "";

}

<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Регистрация нового пользователя</h3>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                    <fieldset>
                        <label for="nameField">E-mail</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Введите почту" } })
                        <label for="nameField">ФИО пользователя</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Введите ФИО" } })
                        <label for="nameField">Логин пользователя</label>
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { placeholder = "Введите логин" } })
                        <label for="nameField">Пароль</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Введите пароль" } })
                        <br />
                        <input class="button-primary" type="submit" value="Зарегистрировать">
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}