@model Diploma.Models.New

    <div class="row grid-responsive">
        <div class="column ">
            <div class="card">
                <div class="card-title">
                    <h3>Добавить новость</h3>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("AddNew", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false)
                    <fieldset>
                        <label for="nameField">Заголовок</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { placeholder = "Введите заголовок" } })
                        <label for="ageRangeField">Категория новости</label>
                        @Html.DropDownListFor(model => model.CategoryID, ViewBag.Categories as SelectList)
                        <label for="commentField">Описание новости</label>
                        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @placeholder = "Введите текст" })
                        <label>Добавить изображение</label>
                        <input type="file" name="imageFile" multiple accept="image/*,image/jpeg">
                        <br /> 
                        <input class="button-primary" type="submit" value="Опубликовать">
                    </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

