@model Diploma.Models.New

@{
    ViewBag.Title = "Редактирование новости" + Model.Title;
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Authorized</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Template Styles -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="~/Content/css/milligram.min.css">

    <!-- Main Styles -->
    <link rel="stylesheet" href="~/Content/css/admin_style.css">

</head>
<body>
    <div class="EditNew">
        <div class="column ">
            <div class="card">
                <div class="card-title">
                    <h3>Редактировать новость</h3>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("EditNew", "Admin", FormMethod.Post))
                    {
                        <fieldset>
                            <label for="nameField">Заголовок</label>
                            @Html.EditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title, "")
                            <label for="ageRangeField">Категория новости</label>
                            @Html.DropDownListFor(model => model.CategoryID, ViewBag.Categories as SelectList)
                            <label for="commentField">Описание новости</label>
                            @Html.TextAreaFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, "")


                            @Html.HiddenFor(model => model.ImagePath)
                            @Html.HiddenFor(model => model.Date)
                            <input class="button-primary" type="submit" value="Редактировать">
                            <a href="/admin">Вернуться</a>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</html> 