@model IEnumerable<Diploma.Models.New>

@{
    ViewBag.Title = "Админ-панель";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Админ-панель</h2>

<p>Привет, @ViewBag.Name</p>
<a href="/account/logout">Выйти из аккаунта</a>
<br />
<br />

<!--               Блок новостей               -->

@Html.Action("GetNewsList")

<br />
<br />

@Html.Action("AddNew")

<br />
<br />

<!--               Блок рассылки               -->

@Html.Action("GetEmailsList")

<br />
<br />

@Html.Action("AddEmail")

<br />
<br />

<!--               Блок пользователей          -->

@Html.Action("GetUsersList")

<br />
<br />

@Html.Action("Register", "Account")