@model IEnumerable<Diploma.Models.New>

@{ 
    Layout = "";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin-панель</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Template Styles -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="~/Content/css/milligram.min.css">

    <!-- Main Styles -->
    <link rel="stylesheet" href="~/Content/css/admin_style.css">

</head>

<body>

    <div class="navbar">
        <div class="row">
            <div class="column column-30 col-site-title"><a href="#" class="site-title float-left">ФТИ</a></div>
            <div class="column column-40 col-search">
            </div>
            <div class="column column-30">
                <div class="user-section">
                    <a href="#">
                        <div class="username">
                            <h4>@ViewBag.Name</h4>
                            <p><a href="/account/logout">Выход</a></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="sidebar" class="column">
            <ul>
                <li><a href="#"><em class="fa fa-home"></em> Главная</a></li>
                <li><a href="#news"><em class="fa fa-eye"></em> Новости</a></li>
                <li><a href="#warning"><em class="fa fa fa-warning"></em> Объявления</a></li>
                <li><a href="#event"><em class="fa fa-star"></em> Мероприятия</a></li>
                <li><a href="#video"><em class="fa fa-video-camera"></em> Видео</a></li>
                <li><a href="#mailing"><em class="fa fa-upload"></em> Рассылки</a></li>
                <li><a href="#users"><em class="fa fa-users"></em> Пользователи</a></li>
            </ul>
        </div>
        <section id="main-content" class="column column-offset-20">
            <div class="row grid-responsive">
                <div class="column page-heading">
                </div>
            </div>


            <!--               Блок новостей               -->

            @Html.Action("GetNewsList")



            @Html.Action("AddNew")

            <!--               Блок объявлений             -->
            @Html.Action("GetNotificationsList")

            <br />
            <br />

            @Html.Action("AddNotification")

            <!--               Блок рассылки               -->

            @Html.Action("GetEmailsList")

            <br />
            <br />

            @Html.Action("AddEmail")

            <br />
            <br />

            <!--               Блок пользователей          -->

            @Html.Action("GetUsersList")

            <br />
            <br />

            @Html.Action("Register", "Account")

            <!--Мероприятия-->
            <h5 class="mt-2">Мероприятия</h5><a class="anchor" name="event"></a>
            <div class="row grid-responsive">
                <div class="column ">
                    <div class="card">
                        <div class="card-title">
                            <h3>Список мероприятий</h3>
                        </div>
                        <div class="card-block">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Заголовок</th>
                                        <th>Дата</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Мероприятие 1</td>
                                        <td>09.05.19</td>
                                        <td><input class="button button-clear" type="submit" value="Редактировать"></td>
                                        <td><input class="button button-clear" type="submit" value="Удалить"></td>
                                    </tr>
                                    <tr>
                                        <td>Мероприятие 2</td>
                                        <td>09.05.19</td>
                                        <td><input class="button button-clear" type="submit" value="Редактировать"></td>
                                        <td><input class="button button-clear" type="submit" value="Удалить"></td>
                                    </tr>
                                    <tr>
                                        <td>Мероприятие 3</td>
                                        <td>09.05.19</td>
                                        <td><input class="button button-clear" type="submit" value="Редактировать"></td>
                                        <td><input class="button button-clear" type="submit" value="Удалить"></td>
                                    </tr>
                                    <tr>
                                        <td>Мероприятие 4</td>
                                        <td>09.05.19</td>
                                        <td><input class="button button-clear" type="submit" value="Редактировать"></td>
                                        <td><input class="button button-clear" type="submit" value="Удалить"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row grid-responsive">
                <div class="column ">
                    <div class="card">
                        <div class="card-title">
                            <h3>Добавить мероприятие</h3>
                        </div>
                        <div class="card-block">
                            <form>
                                <fieldset>
                                    <label for="nameField">Заголовок</label>
                                    <input type="text" placeholder="Мероприятие" id="nameField">
                                    <label for="commentField">Описание мероприятия</label>
                                    <textarea placeholder="Введите текст" id="commentField"></textarea>
                                    <label for="commentField">Дата начала мероприятия</label>
                                    <input type="date" id="nameField">
                                    <label for="commentField">Время начала мероприятия</label>
                                    <input type="time" id="nameField">
                                    <label for="commentField">Дата окончания мероприятия</label>
                                    <input type="date" id="nameField">
                                    <label for="commentField">Время окончания мероприятия</label>
                                    <input type="time" id="nameField">
                                    </br>
                                    <input class="button-primary" type="submit" value="Опубликовать">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row grid-responsive">
                <div class="column ">
                    <div class="card">
                        <div class="card-title">
                            <h3>Редактировать мероприятие</h3>
                        </div>
                        <div class="card-block">
                            <form>
                                <fieldset>
                                    <label for="nameField">Заголовок</label>
                                    <input type="text" placeholder="Мероприятие" id="nameField">
                                    <label for="commentField">Описание мероприятия</label>
                                    <textarea placeholder="Введите текст" id="commentField"></textarea>
                                    <label for="commentField">Дата начала мероприятия</label>
                                    <input type="date" id="nameField">
                                    <label for="commentField">Время начала мероприятия</label>
                                    <input type="time" id="nameField">
                                    <label for="commentField">Дата окончания мероприятия</label>
                                    <input type="date" id="nameField">
                                    <label for="commentField">Время окончания мероприятия</label>
                                    <input type="time" id="nameField">
                                    </br>
                                    <input class="button-primary" type="submit" value="Редактировать">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Подтверждение удаления-->
            <div class="delete">
                <div class="column ">
                    <div class="card">
                        <div class="card-block">
                            <form>
                                <fieldset>
                                    <div class="alert">
                                        <em class="fa fa-warning"></em> Вы уверены,что хотите удалить?
                                    </div>
                                    <div class="float-center">
                                        <input class="button-primary" type="submit" value="Да">
                                        <input class="button-primary" type="submit" value="Нет">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")


</html>