@model PagedList.IPagedList<Diploma.Models.New>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var c in ViewBag.Categories)
{
    <a href="/home/allnews?category=@c.ID">@c.Title</a>
    <br />
}

@foreach (var n in Model)
{
    <div>
        <p>@n.Date</p>
        <p>@n.Title</p>
        <p>@n.Category.Title</p>
    </div>
}
	

@Html.PagedListPager(Model, page => Url.Action("AllNews", new { category = ViewBag.SelectedCategory, page }),
    new PagedListRenderOptions { LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">",
        MaximumPageNumbersToDisplay = 3, DisplayEllipsesWhenNotShowingAllPageNumbers = false,
        DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToFirstPage = PagedListDisplayMode.Never})

