@model PagedList.IPagedList<Diploma.Models.Notification>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Объявления";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<div class="breadcr">
    <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Объявления</a></li>
    </ul>
</div>

        


        <div class="ads_main1">
                <div class="ads_list1">
                    @foreach (var n in Model)
                    {
                        <div class="ads_item1">
                            <div class="ads_topic1">@n.Title</div>
                            <div class="ads_content1">@n.Description</div>
                            <div class="ads_line"></div>
                            <div class="ads_bottom">
                                <div class="author">@n.Author</div>
                                <div class="circle"></div>
                                <p>@n.Date.ToString("M"), @n.Date.ToString("yyyy")</p>
                                <a href="/notification?id=@n.ID" class="ads_btn1">Читать полностью</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        @Html.PagedListPager(Model, page => Url.Action("GetAllNotifications", new { page }),
            new PagedListRenderOptions { LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">",
                MaximumPageNumbersToDisplay = 3, DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToFirstPage = PagedListDisplayMode.Never})

