@model Diploma.Models.Event

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<p>@Model.StartDate.ToString("M"), @Model.StartDate.ToString("yyyy")</p>
<p>@Model.EndDate.ToString("M"), @Model.EndDate.ToString("yyyy")<</p>
<p>@Model.Title</p>
<img src="@Model.ImagePath" />
<p>@Model.Description</p>
