@model Diploma.Models.Notification

<p>@Model.Author</p>
<p>@Model.Date.ToString("M"), @Model.Date.ToString("yyyy")</p>
<p>@Model.Title</p>
<p>@Model.Description</p>
@if (Model.DocumentPath1 != "")
{
    <a href="@Model.DocumentPath1" download>@ViewBag.DocumentName1</a>
}
@if (Model.DocumentPath2 != "")
{
    <a href="@Model.DocumentPath2" download>@ViewBag.DocumentName2</a>
}
